footer
  .footer-hotel-menu,
  .footer-gastronomie-menu,
  .footer-zermatt-erleben-menu,
  .uber-uns-hotel-menu,
  .footer-kontakt,
  .footer-address
    @apply mb-8 md:mb-16 xl:mb-20
  .footer-newsletter
    @apply mb-16 md:mb-24 xl:mb-0
  .footer-logo
    @apply mb-24 md:mb-16 xl:mb-20
  .footer-hotel-menu,
  .footer-gastronomie-menu,
  .footer-zermatt-erleben-menu,
  .uber-uns-hotel-menu
    li.menu-item
      @apply title-footer
      a
        position: relative
        display: inline-block
        &::before
          content: ""
          position: absolute
          left: 0
          bottom: 0.25em
          width: 100%
          height: 1px
          background-color: currentColor
          transform: scaleX(0)
          transform-origin: left center
          transition: transform 250ms ease-out
        &:hover
          &::before,
        &:focus-visible
          &::before
            transform: scaleX(1)
    li.menu-item-has-children
      @apply flex md:block
      a
        @apply w-32 md:w-auto
    .sub-menu
      @apply md:pt-4 xl:pt-8
      li.menu-item
        @apply footer-body
  .uber-uns-hotel-menu
    @apply title-footer flex flex-col gap-6 md:block xl:flex md:gap-3 xl:gap-3
    li.menu-item
  .footer-copyright-menu
    @apply flex items-center gap-6 xl:gap-12

.mc4wp-form
  .mc4wp-form-fields
    @apply flex items-center border-b border-b-LightGray
    input[type="email"]
      @apply  text-LightGray font-noto text-[0.9375rem] font-normal leading-[2rem] tracking-[0.03125rem] bg-Dark  focus:outline-none focus:ring-2 focus:ring-Brown rounded-none  focus:placeholder:text-Brown py-2 pr-6 mr-4 w-full focus:pl-3 transition-all duration-500 ease-in-out
      &::placeholder
        @apply text-LightGray font-noto text-[0.9375rem] font-normal leading-[2rem] tracking-[0.03125rem] transition-all duration-500 ease-in-out

    .submit-wrapper
      @apply relative w-6 h-6 flex justify-center items-center
      &::after
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='23' fill='none'%3E%3Cpath stroke='%23F3F3F3' stroke-width='2' d='M.674 1h23m0 0v21m0-21-23 21'/%3E%3C/svg%3E")
        @apply absolute block bg-transparent w-full h-full left-0 top-0
      input[type="submit"]
        @apply text-LightGray bg-transparent border-none cursor-pointer rounded-none p-0 m-0 relative z-10 w-6 h-6

