.btn
    @apply inline-block cursor-pointer transition-all duration-300 ease-in-out

    &-primary
        @apply bg-white  border-spacing-2 border-b-2 border-Brown font-noto text-Brown text-[1.25rem] font-medium leading-[1.5rem] tracking-[0.03125rem]
        &::after
            @apply absolute w-[1.4375rem] h-[1.3125rem]  border-b-2 border-Brown
            content:""
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMyIgdmlld0JveD0iMCAwIDI1IDIzIiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTAuNjc0MzE2IDFIMjMuNjc0M0wyMy42NzQzIDIxTTIzLjY3NDMgMUwwLjY3NDMxNiAyMiIgc3Ryb2tlPSIjNzY2QTY2IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+")              
            background-repeat: no-repeat
            background-position: center
            background-size: 100%
        &:hover
            @apply bg-Brown text-White pl-4 py-2 border-b-0
            &::after
                @apply absolute w-[1.4375rem] h-[1.3125rem] border-Brown py-2 border-b-0 bg-Brown
                content:""
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMyIgdmlld0JveD0iMCAwIDI1IDIzIiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTAuNjc0MzE2IDFIMjMuNjc0M0wyMy42NzQzIDIxTTIzLjY3NDMgMUwwLjY3NDMxNiAyMiIgc3Ryb2tlPSIjRjBGMGYwIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+")
                background-repeat: no-repeat
                background-position: center
                background-size: 100%
        &:active
            @apply  bg-Brown text-White font-bold
            &::after
                @apply absolute w-[1.4375rem] h-[1.3125rem] border-Brown py-2 border-b-0 bg-Brown rotate-90
                content:""
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMyIgdmlld0JveD0iMCAwIDI1IDIzIiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTAuNjc0MzE2IDFIMjMuNjc0M0wyMy42NzQzIDIxTTIzLjY3NDMgMUwwLjY3NDMxNiAyMiIgc3Ryb2tlPSIjRjBGMGYwIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+")
                background-repeat: no-repeat
                background-position: center
                background-size: 100%