// Menu offcanvas
.menu-offcanvas
  @apply fixed left-0 top-0 w-full h-dvh bg-White text-Brown z-40 overflow-auto max-h-dvh overflow-y-auto
  clip-path: polygon(40% 0, 60% 0, 100% 0, 0 0)
  transform: translate3d(0, -100%, 0)
  will-change: transform, clip-path
  -webkit-overflow-scrolling: touch
  [data-menu-col]
    @apply min-h-0


.main-menu-col
  .menu-offcanvas__main-mega-menu
    li.menu-item
      @apply flex font-inria text-[1.875rem] min-h-[46px] md:min-h-[60px] md:text-6xl italic text-Brown font-normal tracking-[0.03125rem] relative
      &:not(:last-child)
        @apply mb-8 md:mb-10
      a
        @apply inline-flex items-center
        position: relative
        &::before
          content: ""
          position: absolute
          left: 0
          right: 0
          bottom: -0.05em
          height: 4px
          background-color: currentColor
          transform: scaleX(0)
          transform-origin: left center
          transition: transform 300ms ease-out
      &:hover a::before,
      a:focus-visible::before
        transform: scaleX(1)

      // ACTIVE STATE (current page / ancestor)
      &.current-menu-item a::before,
      &.current-menu-ancestor a::before,
      &.current_page_item a::before,
      &.current_page_ancestor a::before
        transform: scaleX(1)

      &.menu-item-has-children
        > a
          &::before
            right: 4.5rem
          &::after
            content:""
            @apply ml-11 inline-block w-10 h-[46px] bg-no-repeat bg-center bg-contain
            background-image: url('../../assets/svg/mega-menu-arrow.svg')
            @apply transition-all duration-300 ease-in-out
            transform: rotate(0deg)
            transform-origin: center
        &:hover > a::after
          @apply ml-8
          //@apply rotate-90
        > a.is-active::after,
        > a[aria-expanded="true"]::after
          @apply ml-8
          //@apply rotate-90

.sub-menu-col
  @apply relative
  .submenu-panel
    li.submenu-item
      @apply font-inria text-[1.125rem] md:text-[1.5625rem] font-normal leading-7 md:leading-[2.34375rem] tracking-[-0.02969rem]
      &:not(:last-child)
        @apply mb-6
      &:is(:first-child)
        @apply list-item xl:hidden
      a
        position: relative
        display: inline-block
        &::before
          content: ""
          position: absolute
          left: 0
          bottom: 0.25em
          width: 100%
          height: 1px
          background-color: currentColor
          transform: scaleX(0)
          transform-origin: left center
          transition: transform 250ms ease-out
      &:hover a::before,
      a:focus-visible::before
        transform: scaleX(1)

// Mobile submenu "screen"
.submenu-mobile
  @apply fixed inset-0 z-[60] bg-Brown text-White xl:hidden
  transform: translate3d(100%, 0, 0)
  transition: transform 300ms ease-out
  will-change: transform
  .submenu-panel,
  [data-empty]
    @apply relative pointer-events-auto
    opacity: 0
    transition: opacity 200ms ease-out
    li.submenu-item
        @apply font-noto text-[1.125rem] font-normal leading-[2rem] tracking-[-0.021]
        &:not(:last-child)
          @apply mb-12
        &:is(:first-child)
          @apply font-inria text-[1.875rem] md:text-[3.75rem] font-normal italic leading-[2.5rem] md:leading-[4.6875rem] tracking-[0.03125rem] list-item xl:hidden
  .submenu-panel.is-visible,
  [data-empty].is-visible
    opacity: 1
    
.menu-offcanvas--submenu-open
  .submenu-mobile
    transform: translate3d(0, 0, 0)
  .main-menu-col
    @apply opacity-0 pointer-events-none

.menu-open #menu-offcanvas
  pointer-events: auto

.sub-menu-col .submenu-panel,
.sub-menu-col [data-empty]
  @apply absolute inset-0 pointer-events-none
  will-change: opacity

.sub-menu-col .is-visible
  pointer-events: auto

.submenu-panel .submenu-link
  display:inline-block
  padding:.25rem 0

#header-sticky
  .header-logo > svg
    @apply max-w-20 md:max-w-36 xl:max-w-40 max-h-[57px] md:max-h-[102px] xl:max-h-none

// low viewport height
@media (min-width: 1280px) and (max-height: 900px)
  .menu-offcanvas .main-menu-col .menu-offcanvas__main-mega-menu li.menu-item
    font-size: 1.75rem
    line-height: 1.2

    &:not(:last-child)
      margin-bottom: 0.5rem

  #mega-menu-nav
    margin-top: 1.5rem
    margin-bottom: 1.5rem

  .menu-offcanvas .header-main .language-selector,
  .menu-offcanvas .header-main .menu-toggle
    padding-top: 0.75rem
    padding-bottom: 0.75rem

  .menu-offcanvas .theme-container .btn.btn-primary-light,
  .menu-offcanvas .theme-container .btn.btn-sticky-bar-light
    padding-top: 0.5rem
    padding-bottom: 0.5rem

  .main-menu-col
    .menu-offcanvas__main-mega-menu
      li.menu-item
        &.menu-item-has-children
          > a
            &::after
              @apply w-8 h-[36px]